 
.header-container {
  background-color: #e5aa20;
  opacity: 0.8;
  color: #dee;
  font-family: 'Pacifico', cursive; 
  padding: 25px;
  margin-bottom: 20px;
}
.sidebar .vertical .menu{
  background-color: #666;
}
.item, h2 {
  color:#e5aa20;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
} 
h3{
  color:#dee;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.text-links{
font-weight:bold;
font-family: 'Open Sans', sans-serif;
}
.profile-pic{
  border-radius: 50%;
  height:350px;
  width:300px;
}
.footer{
  position:fixed;
  bottom:0;
  width:100%;
}
