 
.header-container {
  background-color: #e5aa20;
  opacity: 0.8;
  color: #dee;
  font-family: "Oswald", sans-serif;
  padding: 25px;
  margin-bottom: 20px;
}

h2 {
  color:#e5aa20;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
} 

